Repository ZavalichiR/TI-Proiect, pull requests merged in 2018-04, with the labels that each got.

#34 Update Documentation.md
  Documentation.md
Labels: documentație

#40 Baza de date #35
  Aplicatie/sqlite/LumeaFilmelorDB.db
Labels: enhancement

#41 Diacritice+ Populare BD
  Aplicatie/LumeaFilmelor/LumeaFilmelorCore/.settings/org.eclipse.wst.common.component
  Aplicatie/LumeaFilmelor/LumeaFilmelorCore/target/classes/.gitignore
  Aplicatie/LumeaFilmelor/LumeaFilmelorCore/target/classes/META-INF/MANIFEST.MF
  Aplicatie/LumeaFilmelor/LumeaFilmelorCore/target/classes/META-INF/maven/lumeafilmelor.core/LumeaFilmelorCore/pom.properties
  Aplicatie/LumeaFilmelor/LumeaFilmelorWebServices/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
  Aplicatie/LumeaFilmelor/LumeaFilmelorWebServices/target/m2e-wtp/web-resources/META-INF/maven/lumeafilmelor.webservices/LumeaFilmelorWebServices/pom.properties
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/.settings/org.eclipse.core.resources.prefs
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/src/main/webapp/acasa.jsp
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/src/main/webapp/contact.jsp
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/src/main/webapp/despre.jsp
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/src/main/webapp/film.jsp
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/src/main/webapp/filme.jsp
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/target/m2e-wtp/web-resources/.gitignore
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/target/m2e-wtp/web-resources/META-INF/maven/lumeafilmelor.webserver/LumeaFilmelorWebServer/pom.properties
  Aplicatie/sqlite/LumeaFilmelorDB.db
Labels: enhancement

#52 #42
  Diagrame/UML_Componente.jpg
Labels: bug, documentație

#53 Etapa2-Documentation #43
  Documentation/Documentation.md
  Documentation/Etapa2.dm
Labels: documentație

#54 Rename Etapa2.dm to Etapa2.md
  Documentation/Etapa2.md
Labels: bug, documentație

#73 Update Documentation.md
  Documentation/Documentation.md
Labels: documentație
