Repository ZavalichiR/TI-Proiect, pull requests merged in 2018-05, with the labels that each got.

#75 Critici/Aprecieri
  Documentation/Documentation.md
Labels: documentație, enhancement

#76 Contribuții
  Documentation/Documentation.md
Labels: documentație, enhancement

#77 Contributie
  Diagrame/Diagrame.md
  Documentation/Documentation.md
Labels: documentație, enhancement

#78 Aprecieri
  Documentation/Documentation.md
Labels: documentație, enhancement

#79 Bug fixed
  Documentation/Etapa2.md
Labels: bug

#80 Eliminare fisiere PHP
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/src/main/webapp/api/bilete.php
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/src/main/webapp/api/sendInfo.php
  Aplicatie/LumeaFilmelor/LumeaFlmelorWebServer/src/main/webapp/api/sugestii.php
Labels: enhancement

#82 DataBase
  Aplicatie/sqlite_/LumeaFilmelorDB.db
Labels: enhancement

#84 Documentatie ETPIII
  Documentatie/Documentation.md
Labels: documentație
